.item-btn-criar {
    display: flex;
    margin-right: 40px;
}

.btn-criar-publicacao {
    margin: auto 0;
    background-color: var(--white);
}

.btn-criar-publicacao:hover {
    transform: none !important;
}
#concluido{
	position: absolute;
	 text-align:right;
	 width: 680px;
	 display: inline-block;
	}
.btn-concluido {
    margin: auto 0;
    background-color: var(--primary);
    color: var(--white);
}

.btn-concluido:hover {
    transform: none !important;
      color: var(--white);
}