body{
    overflow-x: hidden;
}

input[type="file"]{
   display: none;
}

#anexar-text {
    padding: 8px 12px;
    cursor: pointer;

    color: white;
    background: #009688;
    border-radius: 3px;
}

#anexar-text i {
    margin-left: 5px;
}

.icon-arquivo{
    margin-left: 0.5rem;
    width: 1rem;
    height: 1.1rem;;
    opacity: 0.8;
}

.form-group .imagens-lista{
    padding: 0;
    margin-bottom: 20px;

    list-style: none;
}

.form-group .imagens-lista p{
    margin: 0;
    color: #212529;
    font-size: .8rem;
    font-weight: bold
}

.form-group .imagens-lista span{
    margin: 0;
    color: #6c757d;
    font-size: .8rem;
    font-weight: normal;
}

.form-group .imagens-lista li{
    padding:10px;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    border-radius: 2px;

    border: 1.5px solid #ced4da;
    
}
.icon-arquivo{
    margin-left: 10px;
    color: #6c757d;
}

div #elementos{
    margin-left: 10px;
}
