body{
    overflow-x: hidden;
}

input[type="file"]{
   display: none;
}

#anexar-text{
    padding: 0.7rem 0.5rem;
    color: #009688;
    cursor: pointer; 
}

.icon-arquivo{
    margin-left: 1rem;
    width: 1rem;
    height: 1.1rem;;
    opacity: 0.8; 
}

.form-group .imagens-lista{
    list-style: none;
    margin-bottom: 20px;
}
.form-group .imagens-lista p{
    margin: 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.form-group .imagens-lista span{
    margin: 0;
    color: white;
    font-size: .8rem;
    font-weight: bolder;
}

.form-group .imagens-lista li{
    padding:10px;
    margin-bottom: 20px;
    display: flex;
    
    align-items: center;
    border-radius: 2px;
    background-color: #6c757d;
}
.icon-arquivo{
    margin-left: 20px;
}
div #elementos{
    margin-left: 20px;;
}
